@import '~antd/dist/antd.css';

.logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 28px 16px 0;
  float: left;
}

.search-viewStyle-area {
  margin: 10px 0;
}

.search-viewStyle-area .ant-input-search {
  width: 400px;
}

.search-viewStyle-area .ant-radio-group {
  float: right;
}

.ant-layout {
  height: 100%;
}

.site-layout-sub-header-background {
  background: #fff;
}

.site-layout-background {
  background: #fff;
}
